html {
  margin: 0;
  height: 100%;
  }

body {
  
margin: 0;
height: 100%;
background-color: rgb(223, 223, 68);
display: flex;
font-family: "Space Mono", monospace;
color: black !important;
font-weight: 700;
font-size: 1.75vh;
}